/* Footer  box1------------------------ */
.footer {
  background-color: #393939;
  padding: 62px 0 26px 0;
}
.footer .footer-detail-box h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 3px 0 25px 0;
}
.footer .footer-detail-box ul li {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  line-height: 16px;
}
.footer .footer-detail-box ul li a {
  color: #ccc;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}
/* Footer  box2------------------------ */
.footer .footer-logo {
  display: inline-block;
}
.footer .house-listed-detail {
  padding: 25px 0;
}
.footer .house-listed-detail h4 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 55%;
}
.footer .house-listed-detail h4:first-child {
  width: 42%;
}
.footer .house-listed-detail h4 > span {
  display: inline-block;
  width: 100%;
  font-weight: 300;
  padding: 5px 0 0 0;
}
.footer .footer-social-media li {
  display: inline-block;
  margin: 25px 0 0 5px;
}
.footer .footer-social-media li a {
  display: inline-block;
  width: 32px;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
  line-height: 28px;
}
.footer .footer-social-media li a i {
  color: #393939;
  font-size: 20px;
  padding: 8px 0 0 0;
}
.footer .footer-social-media li a:hover {
  background-color: #1e7ee6;
}
.footer .footer-social-media li a:hover i {
  color: #fff;
}
/* Footer  copyright------------------------ */
.footer .copyright-text {
  text-align: center;
  font-size: 16px;
  padding: 40px 0 0 0;
  color: #fff;
}
