body {
  background-color: #fff;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
span {
  padding: 0;
  margin: 0;
}
a {
  transition: all 300ms;
}
a:hover,
a:focus {
  text-decroration: none;
  outline: none;
}
